.main {
  @media (min-width: 320px) {
    max-width: 100%;
  }

  @media (min-width: 1000px) {
    width: calc(100% - 320px);
  }

  &__container {
    padding: 45px 28px 0;
    background-color: #f7f8f8;
    max-width: 640px;
    overflow: hidden;

    @media (min-width: 320px) {
      max-width: 100%;
    }
  }
}
