// COLORS
$color-black: #000;
$color-white: #fff;
$color-black-primary: #101114;
$color-black-secondary: #191c24;

.sidebar {
  width: 320px;

  &__inner {
    background-color: $color-black-secondary;
    position: relative;
    overflow: hidden;
  }

  @media (min-width: 320px) {
    width: 100%;
  }

  @media (min-width: 1000px) {
    width: 320px;
  }
}
