*{
  font-size: 1rem;
  font-family: 'Open_Sans-Regular', sans-serif;
}
h1{
  font-size: 2rem;
  font-family: 'Open_Sans-Bold', sans-serif;
  line-height: 30px;
  margin-bottom: 0;
  color: #000000;
}

h2{
  font-size: 1.7rem;
  font-family: 'Open_Sans-Bold', sans-serif;
  line-height: 26px;
  margin-bottom: 20px;
  color: #5f5b5b;
}


