/*----Open_Sans-----*/
@font-face {
	font-family: Open_Sans-Bold;
	src: local("Open_Sans-Bold"), url(fonts/Open_Sans/OpenSans-Bold.ttf);
}
@font-face {
	font-family: Open_Sans-Semi-Bold;
	src: local("Open_Sans-Semi-Bold"), url(fonts/Open_Sans/OpenSans-SemiBold.ttf);
}
@font-face {
	font-family: Open_Sans-Regular;
	src: local("Open_Sans-Regular"), url(fonts/Open_Sans/OpenSans-Regular.ttf); 
}
@font-face {
	font-family: Open_Sans-Italic;
	src: local("Open_Sans-Italic"), url(fonts/Open_Sans/OpenSans-Italic.ttf); 
}


